/* Zen kaku Gothic New */
/* Noto Sans JP */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

html,
body {
  font-family: 'Zen Kaku Gothic New', 'Noto Sans JP', sans-serif;
  /* scroll-behavior: smooth; */
}
